# Hidden files should be included explicitly
.*

!.gitignore
!.editorconfig
!.gitattributes

# Sensitive data

# Temporary files
docs_out/**/*
docs_src/_book/**/*
docs_src/generated/**/*

# Keep files for empty dirs
!.keep

# Pytyon
venv
